@import url(http://fonts.googleapis.com/css?family=Coustard);

/*General*/

html{
  width:100%;
}

body{
  max-width:800px;
  margin-right:auto;
  margin-left:auto;
  background-image:url('../img/bg.png');
}

a {
  color: #2e8e14;
  text-decoration: none;
}

a:hover, a:focus {
  color: #2e8e14;
  text-decoration: underline;
}

h1 {
  color: #000;
  font-family: 'Coustard', serif;
  font-weight: bold;
}


input, textarea{
  margin: 5px 0px;
  padding:5px;
  border:1px solid #b4cf5a;
  background: #fefefe;
}
textarea{
  min-width:300px;
  min-height:100px;
}

button{
  margin: 10px 0px;
  background: #b4cf5a;
  border-radius: 5px;
  padding:12px 12px 8px 12px;
  border:0;
}

button:hover{
  background: #a4c633;
}

button,.tbl_title{
  background: #b4cf5a;
  font-weight: bold;
  text-transform: uppercase;
  color: #4c4c4c;
  font-size: 9pt;
  letter-spacing: 1px;
}


table{
  margin:10px 0px;
  width: 100%;
}
td{
  font-size: 10pt;
  padding: 12px 10px;
  border:1px solid #b4cf5a;
}


/*header*/
header{
  max-width: 800px;
  padding:17px 0px 14px 0px;
}

#title, #logo, #tag{
  display: inline;
}

#tag{
  padding-left: 8px;
  font-size: 7pt;
  font-style: italic;
}

.green{
  color:#2e8e14;
}

.link{
  cursor:pointer;
}


/* nav */

nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 0;
  text-transform: uppercase;
}

nav li {
  display: inline;
}

nav ul{
  margin:0;
  padding: 0;
}


/* large splash */
.jumbotron {
  background-image:url('../img/pat.png');
  height: 500px;
  padding:0;
  width:100%;
  margin:0;
}

.jumbotron p {
  font-size: 20px;
  color: #000;
}

.jumbotron .container{
  float:left;
  position: relative;
  top:34%;
  left:5%;
}

.jumbotron .container a{
  color:#000;
  font-weight: bold;
  text-shadow: 0px 1px 3px #fff;
}

.jumbotron .container a:hover{
  color: #2e8e14;
  text-decoration: none;
}




/*bottom*/

.more {
  margin-top: 8px;
  font-size: 10pt;
}

.more .container{
  padding: 15px;
}

.more .container .col-md-3{
  padding-left: 30px;
}

    .more h3 {
      font-family: 'Shift', sans-serif;
      font-size: 18px;
      font-weight: bold;
    }

.smedia{
  margin-right:5px;
  height:25px;
  width:25px;
  opacity:.8;
}



.content{
  background-color: #fff;
  border:1px solid #dbdbdb;
  max-width: 800px;
}
.content .container{
  padding:20px 45px;
  font-family: 'Shift', sans-serif;
  font-size: 11pt;
  font-weight: 100;
}

.content .container h1{
  font-size: 18pt;
}



/*Repsonsive*/

@media screen and (max-width: 800px) {
  .more .container .col-md-3{
    padding-left: 15px;
    padding-top: 15px;
}

}


@media screen and (max-width: 550px) {
  #tag{
    display:none;
  }

}